body{
    background: linear-gradient(135deg, #1a6ac0d7, #4893c4, #0861bfd3);
    box-shadow: 0 0 10px #072090c2, 0 0 20px #0c5094c2, 0 0 30px #0b429ab3;
}
.card-img-top{
    height: 180px;
}
.mycontainer-fluid{
    max-width: 1200px;
}
h5{
    color: #c7ab0dde;
    text-shadow: 0 0 5px #FFD700, 0 0 10px #fbfbfb, 0 0 15px #FFD700, 0 0 20px #faf4dc, 0 0 30px #ffcc00;
}
p, .labeltext{
    color: #ffffff;
    text-shadow: 0 0 15px #ffffff, 0 0 5px #070000, 0 0 10px #ffffff, 0 0 10px #050505, 0 0 8px #ffffff;
    word-wrap: break-word;
}
.card-body, .mycontainer{
    background-color: #2565ade2;
}
.mycontainer{
  max-width: 50rem;
  height: auto;
}


<!-- Barra de navegación de Víctor -->

.navbar-nav .nav-link {
    text-shadow: 0 0 15px #ffffff;
  }


  <!-- Tagline Víctor -->

  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  .hero-section {
    position: relative;
    width: 100%;
    
    overflow: hidden;
  }
  .hero-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
    
    padding: 0 1rem;       
    max-width: 90%;        
    word-wrap: break-word;
    
  }
  
  .hero-text h1 {
    font-size: clamp(2rem, 4vw, 4rem);
    margin-bottom: 0.5rem;
    padding: 0.3rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
  }
  .hero-text p {
    font-size: clamp(1rem, 2.5vw, 2rem);
    margin: 0;
    padding: 0.3rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
  }
  
  @media (max-width: 480px) {
    .hero-text {
       padding: 0 0.5rem;
       max-width: 95%;
    }
    .hero-text h1 {
       font-size: clamp(0.5rem, 5vw, 3rem);
    }
    .hero-text p {
       font-size: clamp(0.3rem, 3vw, 1.5rem);
    }
  }