body{
    background: #BDBDBD;
}


.ciudad {
    background-image: url('../img/bg.jpg');
    background-size: 100% auto; /* La imagen se ajusta al 100% del ancho sin distorsionar */
    background-position: center bottom;
    background-repeat: no-repeat;
    min-height: 600px; /* Ajusta según lo que necesites */
    width: 100%;
}


.ciudad h1 {
    font-size: 120px;
}

.ciudad h2 {
    font-size: 60px
}
.container_contact {
    background-color: white;
    padding: 30px;
    margin: 0; 
}

.container_contact h1 {
    text-align: left; 
    margin:30px;
}

.container_contact p {
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right:30px;
}

.container_form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

form .input-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

input, textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid black;
    background-color: white;
}

textarea {
    height: 80px;
    resize: none;
}

button {
    align-self: center; /* Centra el botón */
}
