body{
    background: #BDBDBD;

    margin: 0;
    padding: 0;
}

.card-title-tagline {
    font-size: 120px;
    color: #333333;
}

.tittle_image , .subtittle_image{
    background-color: white;
    opacity:0.8;
}


.tittle_image {
    margin-top: 80px;
}


.card-subtittle-tagline{
    font-size: 60px;
    color: #333333;

}


.container-fluid{
    padding: 0;
    
}