
<section class="container mt-5">
    <h1 class="text-left">Contact</h1>
    <p class="text-left">
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. 
        Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    </p>


    <div class="border p-3 mx-auto" style="max-width: 800px;">
        <form>
            <div class="row mb-3 align-items-center d-flex">
                <div class="col-2"></div>
                <label for="email" class="col-2  col-form-label fw-bold">Your E-mail</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="email" placeholder="Your email">
                </div>
            </div>
            <div class="row mb-3 d-flex">
                <div class="col-2"></div>
                <label for="message" class="col-2 col-form-label fw-bold">Your message</label>
                <div class="col-sm-8">
                    <textarea class="form-control" id="message" rows="4" placeholder="Please enter your message here..."></textarea>
                </div>
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <p class="text-center mt-5">Copyright © Your Website 2025</p>
</section>