<!-- AbLandaeta -->
<div class="container my-4">
    <h2> Contact </h2>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum similique itaque totam harum accusantium vel,
        provident eum quae molestiae, sequi in temporibus, quod incidunt dignissimos rem voluptas eos accusamus non!</p>
    <div class="card col-12 offset-0 col-lg-8 offset-lg-2  p-3 bg-secondary-subtle">
        <div class="row mb-3">
            <div class="col-3 text-end ">
                <label for="Email-input" class=" form-label"><b>Your E-mail</b></label>
            </div>
            <div class="col">
                <input type="email" class="col form-control" id="Email-input" placeholder="Your email">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3 text-end ">
                <label for="Textarea1" class=" form-label"><b>Your Message</b></label>
            </div>
            <div class="col">
                <textarea class="form-control" id="Textarea1" placeholder="Please enter your message here"
                    rows="3"></textarea>
            </div>

        </div>
        <button class="btn btn-primary ms-auto"> submit </button>
    </div>
</div>