<!-- your html code here -->
<div class="container-fluid bg-white p-0 ">
    <div class="container-fluid p-0">
        <h2>
            Contact
        </h2>
    </div>
    <div class="container-fluid p-0">
        <p class="h5 text-secondary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pellentesque magna eros, porttitor lacinia ante
            vehicula vitae. Curabitur nec magna augue. Sed in odio eget magna consequat dictum ut ac neque.
        </p>
    </div>
    <div class="container-fluid d-flex justify-content-center align-items-center ">

        <form class="w-75  d-flex justify-content-end gap-3 flex-column" style="height: 200px;">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label text-end"><strong>Your E-mail</strong></label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Your E-mail">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-2 col-form-label text-end"><strong>Your message</strong></label>
              <div class="col-sm-10">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
              </div>
            </div>
            <div class="container-fluid  justify-content-end d-flex">
                
            <button type="submit" class="btn btn-primary text-lg display-6  ">
                Submit
            </button>
    

           
        
          </form>
        
        </div>
    </div>
</div>