<!-- your html code here -->
<div class="container my-5">
    <div class="row align-items-center mb-5 p-3"> <span class="border-top border border-secondary-subtle my-5"></span>
        <div class="col-md-8">
            <h1><strong>The First Heading</strong><span class="text-secondary"> Will Catch Your Eye</span></h1>
            <h5>Me cago en tus muelas la caidita pupita ese que llega está la cosa muy malar hasta luego Lucas. A
                gramenawer
                te va a hasé pupitaa a gramenawer a gramenawer te va a hasé pupitaa me cago en tus muelas. Me cago en
                tus
                muelas por la gloria de mi madre torpedo diodenoo va usté muy cargadoo está la cosa muy malar se calle
                ustée. Por la gloria de mi madre ahorarr te voy a borrar el cerito quietooor diodeno ahorarr.</h5>
        </div>
        <div class="col-md-4 text-center">
            <img src="https://picsum.photos/300" class="rounded-circle img-fluid max-width: 100% height: auto"
                alt="Random Pic">
        </div>
    </div>