<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-4">
    <div class="clearfix">
      <img src="assets/img/1.jpg" class="img-fluid rounded-circle float-end ms-3" style="width: 200px; height: auto;" alt="Ilustración minimalista de un hombre calvo con barba y gafas, estilo vectorial.">
      
          <h5> This First Heading <span class="text-secondary">Will Catch Your Eye</span> </h5>
      
        <p>
          Donec ullamcorper nulla non metus auctor fringilla. vestibulum id ligula porta felis 
          euismod semper. Praesent commodo cursus magna, vel scelerisque vel scelerisque nisl
          consectetur. fusce dapibus, tullus ac cursus commodo.
        </p>
      
      </div>
      <hr>



  </div>
  

  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
