<nav class="navbar navbar-expand-sm bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://assets.stickpng.com/images/613792874b96600004f676fd.png" alt="logo" width="75" height="75">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          <a class="nav-link" href="#">Conócenos</a>
          <a class="nav-link" href="#">Servicios</a>
          <a class="nav-link" href="#">Portafolio</a>
          <a class="nav-link" href="#">Contacto</a>
        </div>
      </div>
    </div>
  </nav>