<!-- your html code here -->
<div class="container bg-white">
    <div class="Portafolio p-3 pb-0">
        <h4>Portafolio</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni voluptates similique porro excepturi cum eos repellendus ullam illo, modi perferendis. Iusto, optio voluptatibus enim accusamus rem repellat natus provident animi.</p>
    </div>
    <div class="card-group">
        <div class="card border border-0">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top p-3 pt-0" alt="Portafolio">
            <div class="card-body pt-1">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card border border-0">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top p-3 pt-0" alt="Portafolio">
            <div class="card-body pt-1">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card border border-0">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top p-3 pt-0" alt="Portafolio">
            <div class="card-body pt-1">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
    </div>
</div>