<!-- your html code here -->
<div class="container-fluid mycontainer-fluid mt-5 mx-auto text-center">
    <div class="row">
        <div class="col-12 mb-4">
            <h5 class="display-5 fw-bold">Las 4 casas de Hogwarts</h5>
            <p class="fs-5 mt-4">En Hogwarts, los estudiantes son asignados a una de las cuatro casas según sus cualidades y valores. 
                Gryffindor destaca por su valentía, Slytherin por su ambición, Hufflepuff por su lealtad y Ravenclaw por su inteligencia. 
                Cada una representa una forma única de afrontar la magia y la vida en el mundo mágico.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
            <div class="card h-100">
                <img src="https://wallpapers.com/images/hd/gryffindor-background-0r4fsyzqukb7zpue.jpg" class="card-img-top img-fluid object-fit-cover" alt="CasaHP">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title text-center">Gryffindor</h5>
                  <p class="card-text">La casa de los valientes y audaces. Sus miembros destacan por su coraje, determinación y caballerosidad. Fundada por Godric Gryffindor, ha albergado a magos y brujas legendarios como Harry Potter, Hermione Granger y Albus Dumbledore.</p>
                  <div class="mt-auto d-flex justify-content-center">
                    <a href="#" class="btn btn-primary">read more >></a>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
            <div class="card h-100">
                <img src="https://wallpapers.com/images/hd/slytherin-logo-diamond-tiles-w5ryqt4qwll0mb5g.jpg" class="card-img-top img-fluid object-fit-cover" alt="CasaHP">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title text-center">Slytherin</h5>
                  <p class="card-text">Conocida por su astucia, ambición y determinación. Fundada por Salazar Slytherin, esta casa ha formado a algunos de los magos más influyentes, incluyendo a Severus Snape y Tom Riddle (Voldemort).</p>
                  <div class="mt-auto d-flex justify-content-center">
                    <a href="#" class="btn btn-primary">read more >></a>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
            <div class="card h-100">
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0f611638-8fe1-4537-a645-1c47ad1028e7/ddr6wy6-18896d49-1b44-4e85-a70e-3c3ea758d3c1.jpg/v1/fill/w_1280,h_1280,q_75,strp/hufflepuff_by_bellablackcrews_ddr6wy6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzBmNjExNjM4LThmZTEtNDUzNy1hNjQ1LTFjNDdhZDEwMjhlN1wvZGRyNnd5Ni0xODg5NmQ0OS0xYjQ0LTRlODUtYTcwZS0zYzNlYTc1OGQzYzEuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.7xrClxK9Wcf80Ze92echgz8sPXIXmagdqRaCwxRDJ54" class="card-img-top img-fluid object-fit-cover" alt="CasaHP">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title text-center">Hufflepuff</h5>
                  <p class="card-text">La casa de los justos y leales. Sus miembros valoran la amistad, la dedicación y el trabajo duro. Fundada por Helga Hufflepuff, ha sido hogar de grandes magos como Cedric Diggory y Nymphadora Tonks.</p>
                  <div class="mt-auto d-flex justify-content-center">
                    <a href="#" class="btn btn-primary">read more >></a>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
            <div class="card h-100">
                <img src="https://wallpapers.com/images/hd/harry-potter-ravenclaw-8bsyh3zq8ldq5jr7.jpg" class="card-img-top img-fluid object-fit-cover" alt="CasaHP">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title text-center">Ravenclaw</h5>
                  <p class="card-text">La casa de la inteligencia y la creatividad. Fundada por Rowena Ravenclaw, sus miembros son conocidos por su sabiduría, ingenio y amor por el aprendizaje. Entre ellos destacan Luna Lovegood y Cho Chang.</p>
                  <div class="mt-auto d-flex justify-content-center">
                    <a href="#" class="btn btn-primary">read more >></a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>