<div class="container my-5 border-bottom border-light border-2">
    <div class="row">
        <div class="col-3">
            <img class="img-fluid rounded-circle mb-5" src="/website/assets/img/2.jpg" alt="teclado" />
        </div>
        <div class="col-9 px-0">
            <h2>The second heading <span class="text-secondary">is pretty cool, too.</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, praesentium facere quia, ab incidunt magnam excepturi similique corporis mollitia vitae aspernatur? Quos accusamus distinctio impedit eius cumque libero fuga iure.</p>
        </div>
    </div>
</div>