<!-- Valero code -->
<div class="container w-75 mt-5">
    <div class="d-inline-flex">
        <img src=./assets/img/2.jpg class="img-fluid rounded-circle flex-shrink-0" alt="keyboard">
        <div class = "flex-shrink-1">
            <div class="d-inline-flex">
                <h2 class = "fw-bold fs-1">The Second Heading&nbsp</h2>
                <h2 class="text-secondary fw-bold fs-1">Is Pretty Cool Too.</h2>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis labore laudantium explicabo aut minima
                temporibus, natus ipsam deleniti exercitationem debitis consequatur rem veniam ea? Ad quos ipsam
                incidunt atque quod.</p>
        </div>
    </div>
</div>