<!-- your html code here -->
<hr class="px-3"/>
<div class="row d-flex justify-content-center bg-white bg-opacity-50 p-3 mt-3">

    <div class="col-sm-12 col-md-3 col-lg-3 p-3 mt-10">
        <img width="80%" height="auto" src="https://static.vecteezy.com/system/resources/previews/024/450/016/non_2x/snake-animal-magical-wild-on-the-magic-sign-illustration-free-vector.jpg" class="img-fluid object-fit-cover rounded-circle float-start" alt="img_HP">
    </div>
    <div class="col-sm-4 col-md-3 col-lg p-3 mt-3">
        <h5><strong>Voldemort</strong>, the one who must not be named</h5>
        <p>Nam congue tempus nunc non mattis. Nunc malesuada tellus nisi, vel mollis dui porta in. Morbi nec maximus lectus. Nunc quis malesuada nulla. Mauris congue risus nec mi ullamcorper tristique. Praesent nec vehicula lectus. Nulla facilisi. Aliquam consectetur et dui vel vestibulum. In elementum sollicitudin posuere. Integer dapibus congue tempus. Nulla nec cursus dui, egestas vestibulum felis.</p> 
    </div>
</div>
<hr class="px-3"/>